.container {
    display: flex;
    flex-direction: column;
    color: white;
}
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline h3 {
    font-size: smaller;
    color: #e2d703;
}
