.details-movies{
    font-size: smaller;
}
.details-movies .container .infor{
    gap: 15px;
}
.details-movies .container .infor i{
    color: #e2d703;
}
.details-movies .container .rate{
    gap: 15px;
}
.details-movies .container .rate .score{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #e2d703;
    border-radius: 50%;
    color: #e2d703;
}
.details-movies .container .rate .btn-primary{
    width: 15%;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid white;
}